*{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top a {
    text-decoration: none;
    background-image: linear-gradient(#F4874B, #192e19);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover, a:focus {
    background-size: 100% 2px;
}

.cabecera{
    position: sticky;
    top: 0;
}

.top{
    box-shadow: 0em .1em 1em gray ;
    display: block;
    position: sticky;
    top: 1em;
    background-color: #F2A104;
    width: 100vw;
    height: 13vh;
    margin: 0;
    padding: 0;
}
.top__logotipo{
    width: 15vw;
    background-color: #72A2C0;
    text-align: center;
    height: 13vh;
    display: inline-block;
}
#logotipo{
    width: 6em;
    height: 6em;
    margin: 0;
    padding: .5em;
    text-align: center;
    display: inline-block;
}

.top__navegacion{
    box-sizing: border-box;
    float: right;
    text-align: center;
    padding: auto;
}

.top__navegacion__lista__item{
    display: inline-block;
    height: 13vh;
    width: 10vw;
    text-align: center;
    padding: auto;
}

.top__navegacion__lista__enlace{
    text-decoration: none;
    color: #192E5B;
    display: block;
    height: 5vh;
    width: 7vw;
    text-align: center;
    padding-top: 1.3vh;
    margin-top: 4vh;
    border-radius: .6em;
}
.top__navegacion__lista__enlace:hover{
    display: block;
    height: 5vh;
    margin-top: 4vh;
    text-align: center;
    border-radius: .6em;
}

.principal{
    height: 87vh;
    margin: 0;
    background-color: #FFFFFF;
}
.principal__texto{
    float: left;
    width: 40vw;
    height: 10vh;
    margin-top: 52vh;
    margin-left: 5vw;
    font-size: 1.5em;
}
.principal__imagen{
    height: 60vh;
    width: 30vw;
    float: right;
    margin-right: 7vw;
    margin-top: 10vh;
    opacity: 1;
}
.libros{
    width: 100vw;
    height: 87vh;
    display: block;
    background: linear-gradient(to bottom right,white, #F2A104);
    text-align: center;
    
}

.libros h1{
    text-align: center;
    font-size: larger;
    text-decoration-style: none;
    display: block;
    width: 99vw;
    height: 20vh;
}


.card{

    display: inline-block;
    padding: 10px;
    width: 15em;
    height: 27.3em;
    margin: 30px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor:default;
    transition: all 1.5s ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.8);
    transform: translateY(-3%);
}

.card img{
    text-align: center;
    width: 150px;
    height: 200px;
}
.card .contenido{
    padding: 15px;
    text-align: center;
}

.card .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
}

.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}

.card .contenido a{

    text-decoration: none;
    display:  inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #F2A104;
    border: 1px solid #e49800;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card .contenido a:hover{
    background: #F2A104 ;
    color: white;
}