*{
    padding: 0px;
    margin: 0px;
}
li{
    display: inline;
}

.barraNavegacion{
    width: 100vw;
    background-color:#E67E22;
    height: 13vh;
    text-align: right;
    box-shadow: 0em .6em 3em grey;
    display: block;
}
.barraNavegacion__logotipo{
    width: 15vw;
    background-color: #85C1E9;
    text-align: center;
    float: left;
    height: 13vh;
}
#logotipo{
    width: 6em;
    height: 6em;
    margin: 0;
    padding: .5em;
}
.barraNavegacion__lista__opciones{
    list-style-type: none;
    margin: .5em;
    padding: 0;
    text-align: right;
    float: right;
    font-size: 1.5em;
    font-family: 'Yrsa', serif;
    line-height: 3em;
    color: #154360; 
}

#barraNavegacion__lista__opciones__facebook{
    width: 1.5em;
    height: 1.5em;
    
}

#barraNavegacion__lista__opciones__twitter{
    width: 1.5em;
    height: 1.5em;
}

#barraNavegacion__lista__opciones__linkedin{
    width: 1.2em;
    height: 1.2em;
}

#barraNavegacion__lista__opciones__a{
    padding: 1em .7em;
    text-align: center;
}

#barraNavegacion__lista__opciones__b{
    padding: 1em .7em;
    text-align: center;
}

#barraNavegacion__lista__opciones__c{
    padding: 1em .7em;
    text-align: center;
}

#barraNavegacion__lista__opciones__d{
    padding: 1em .7em;
    text-align: center;
}

#barraNavegacion__lista__opciones__e{
    padding: 1em .7em;
    text-align: center;
}

#barraNavegacion__lista__opciones__f{
    padding: 1em .7em;
    text-align: center;
}

#barraNavegacion__lista__opciones__g{
    padding: 1em .7em;
    text-align: center;
}




