*{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    background-image: linear-gradient(#F4874B, #192e19);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover, a:focus {
    background-size: 100% 2px;
}

.cabecera{
    position: sticky;
    top: 0;
}

.top{
    box-shadow: 0em .6em 3em grey;
    display: block;
    position: sticky;
    top: 1em;
    background-color: #F2A104;
    width: 100vw;
    height: 13vh;
    margin: 0;
    padding: 0;
}
.top__logotipo{
    width: 15vw;
    background-color: #72A2C0;
    text-align: center;
    height: 13vh;
    display: inline-block;
}
#logotipo{
    width: 6em;
    height: 6em;
    margin: 0;
    padding: .5em;
    text-align: center;
    display: inline-block;
}

.top__navegacion{
    box-sizing: border-box;
    float: right;
    text-align: center;
    padding: auto;
}

.top__navegacion__lista__item{
    display: inline-block;
    height: 13vh;
    width: 10vw;
    text-align: center;
    padding: auto;
}

.top__navegacion__lista__enlace{
    text-decoration: none;
    color: #192E5B;
    display: block;
    height: 5vh;
    width: 7vw;
    text-align: center;
    padding-top: 1.3vh;
    margin-top: 4vh;
    border-radius: .6em;
}
.top__navegacion__lista__enlace:hover{
    display: block;
    height: 5vh;
    margin-top: 4vh;
    text-align: center;
    border-radius: .6em;
}

.principal{
    background-image: url(../imagenes/redCoca.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 10vh;
    overflow: hidden;
    width: 70vw;
    height: 70vh;
}
