*{
    padding: 0px;
    margin: 0px;
}
.barraNavegacion{
    text-align: right;
    box-shadow: 0em .6em 3em grey;
    display: block;
    position: sticky;
    top: 0;
}
.barraNavegacion__logotipo{
    width: 15vw;
    background-color: #85C1E9;
    text-align: center;
    float: left;
    height: 13vh;
}
#logotipo{
    width: 6em;
    height: 6em;
    margin: 0;
    padding: .5em;
}
.barraNavegacion__lista{
    width: 100vw;
    background-color:#E67E22;
    margin: 0;
    padding: 0;
}
.barraNavegacion__lista__opciones{
    list-style: none;
    height: 13vh;
    margin: 0;
    padding: 0;
}
.barraNavegacion__lista__opciones__elemento{
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    
}

.barraNavegacion__lista__opciones__enlaces{
    height: 13vh;
    display: block; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rebeccapurple;
    text-decoration: none;
    background-color: #dddddd;
}












.barraNavegacion__lista__opciones__enlaces:hover{
    background-color: red;
}

















#barraNavegacion__lista__opciones__facebook{
    width: 1.5em;
    height: 1.5em;
    
}

#barraNavegacion__lista__opciones__twitter{
    width: 1.5em;
    height: 1.5em;
}

#barraNavegacion__lista__opciones__linkedin{
    width: 1.2em;
    height: 1.2em;
}


